<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAWHbIHfVjrxK-5GOMvJppKFQSB9hXMsXo</string>
	<key>GCM_SENDER_ID</key>
	<string>188363563752</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterChallengesAcceptance</string>
	<key>PROJECT_ID</key>
	<string>e-commerce-flutter-4d2aa</string>
	<key>STORAGE_BUCKET</key>
	<string>e-commerce-flutter-4d2aa.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:188363563752:ios:7d88bddcd80d00c04d9f5d</string>
</dict>
</plist>